[Unit]
Description=Devices
After=network.target

[Mount]
What=nas01.example.com:/NAS/backup
Where=/NAS/backup

Type=nfs
Options=defaults,ro,bg,nfsvers=3,_netdev

[Install]
WantedBy=multi-user.target
